@use '../../utils' as *;

/*----------------------------------------*/
/*  5.2 Postbox css
/*----------------------------------------*/

.postbox{
    &-item{
        &:not(:last-child){
            border-bottom: 1px solid rgba(30, 30, 30, 0.08);
            padding-bottom: 50px;
            margin-bottom: 60px;
        }
        &:hover{
            & .postbox-thumb{
                & img{
                    transform: scale(1.1);
                }
            }
        }
    }
    &-thumb{
        border-radius: 14px;
        overflow: hidden;
        &-overlay{
            &::after{
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                background: rgba(0, 0, 0, 0.3);
            }
        }
        & img{
            border-radius: 14px;
            transition: all .8s ease;
        }
    }
    &-title{
        font-size: 38px;
        line-height: 113%;
        letter-spacing: -0.02em;
        @media #{$xl,$lg,$md,$sm,$xs}{
            & br{
                display: none;
            }
        }
        @media #{$sm}{
            font-size: 32px;
        }
        @media #{$xs}{
            font-size: 26px;
        }
        &.fs-32{
            font-size: 32px;
        }
    }
    &-play-btn{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        & a {
            height: 80px;
            width: 80px;
            line-height: 77px;
            text-align: center;
            border-radius: 50%;
            display: inline-block;
            background-color: var(--tp-common-white);
            animation: animate-pulse 3s linear infinite;
            & svg{
                margin-left: 3px;
                display: inline-block;
            }
        }
    }
    &-slider{
        &-item{
            position: relative;
            border-radius: 14px;
            &::after{
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 14px;
                background-color: rgba(0, 0, 0, 0.3);
            }
            & img{
                border-radius: 14px;
            }
        }
    }
    &-arrow{
        & button{
            height: 50px;
            width: 50px;
            line-height: 49px;
            text-align: center;
            border-radius: 50%;
            display: inline-block;
            background-color: var(--tp-common-white);
            &:hover{
                color: var(--tp-common-white);
                background-color: var(--tp-common-black);
            }
        }
        &-prev{
            position: absolute;
            top: 50%;
            left: 30px;
            z-index: 2;
            transform: translateY(-50%);
        }
        &-next{
            position: absolute;
            top: 50%;
            right: 30px;
            z-index: 2;
            transform: translateY(-50%);
        }
    }
    &__comment{
        @media #{$xs}{
            padding-top: 50px;
        }
        & ul{
            margin-right: 75px;
            @media #{$xl,$lg,$md,$sm,$xs}{
                margin-right: 0;
            }
            & li{
                margin-bottom: 30px;
                list-style: none;
                &.children{
                    margin-left: 100px;
                    @media #{$sm,$xs}{
                        margin-left: 15px;
                    }
                }
            }
        }
        &-title{
            font-weight: 500;
            font-size: 30px;
            line-height: 1.1;
            margin-bottom: 15px;
            letter-spacing: -0.04em;
            color: var(--tp-common-black);
        }
        &-box{
            padding-top: 20px;
            @media #{$xs}{
                flex-wrap: wrap;
            }
        }
        &-info{
            flex: 0 0 auto;
        }
        &-avater{
            flex: 0 0 auto;
            @media #{$xs}{
                margin-right: 0;
            }
            & img{
                width: 70px;
                height: 70px;
                border-radius: 50%;
                @media #{$xs}{
                    margin-bottom: 30px;
                }
            }
        }
        &-name{
            margin-bottom: 15px;
            & h5{
                font-weight: 600;
                font-size: 16px;
                line-height: 1;
                margin-bottom: 0;
                letter-spacing: -0.01em;
                color: var(--tp-common-black);
                font-family: var(--tp-ff-inter);
            }
            & span{
                font-weight: 400;
                font-size: 14px;
                line-height: 1;
                color: rgba(30, 30, 30, 0.7);
            }
        }
        &-text{
            & p{
                line-height: 1.6;
                margin-bottom: 20px;
                @media #{$md}{
                    font-size: 15px;
                }
            }
        }
        &-reply{
            & a{
                font-weight: 600;
                font-size: 13px;
                line-height: 1;
                padding: 11px 20px;
                border-radius: 40px;
                display: inline-block;
                text-transform: uppercase;
                color: var(--tp-common-black);
                border: 1px solid rgba(30, 30, 30, 0.1);
                & span{
                    margin-left: 6px;
                    @extend %svg-2;
                    display: inline-block;
                }
                &:hover{
                    color: var(--tp-common-white);
                    border-color: var(--tp-theme-primary);
                    background-color: var(--tp-theme-primary);
                }
            }
        }
        &-agree{
            padding-left: 5px;
            & input{
                margin: 0;
                appearance: none;
                -moz-appearance: none;
                display: block;
                width: 16px;
                height: 16px;
                background: var(--tp-common-black);
                border: 1px solid #949392;
                outline: none;
                flex : 0 0 auto;
                transform: translateY(-1px);
                &:checked{
                    position: relative;
                    background-color: var(--tp-theme-primary);
                    border-color: transparent;
                    &::after{
                        box-sizing: border-box;
                        content: '\f00c';
                        position: absolute;
                        font-family: var(--tp-ff-fontawesome);
                        font-size: 10px;
                        color: var(--tp-common-black);
                        top: 47%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
                &:hover{
                    cursor: pointer;
                }
            }
            & label{
                padding-left: 8px;
                color: #838383;
                line-height: 1;
                & a{
                    color: var(--tp-common-white);
                    font-weight: 600;
                    padding-left: 4px;
                    &:hover{
                        color: var(--tp-theme-primary);
                    }
                }
                &:hover{
                    cursor: pointer;
                }
            }
        }
    }
}

.basic-pagination{
    margin-bottom: 40px;
    & ul{
        & li{
            list-style: none;
            display: inline-block;
            margin-right: 5px;
            @media #{$xs} {
                margin-right: 5px;
            }
            &:hover{
                & a{
                    border-color: var(--tp-theme-primary);
                    background-color: var(--tp-theme-primary);
                    color: var(--tp-common-white);
                }
            }
            & > a{
                height: 50px;
                width: 50px;
                line-height: 49px;
                text-align: center;
                font-weight: 600;
                font-size: 16px;
                border-radius: 50%;
                display: inline-block;
                color: var(--tp-common-black);
                transition: all .3s ease-in-out;
                border: 1px solid rgba(30, 30, 30, 0.08);
            }
            & .current{
                height: 50px;
                width: 50px;
                font-weight: 600;
                line-height: 49px;
                text-align: center;
                font-size: 16px;
                border-radius: 50%;
                display: inline-block;
                border-color: var(--tp-theme-primary);
                background-color: var(--tp-theme-primary);
                color: var(--tp-common-white);
                transition: all .3s ease-in-out;
            } 
        }
    }
    &-label{
        & span{
            font-weight: 500;
            font-size: 15px;
            line-height: 1.33;
            color: #525356;
            display: inline-block;
            @media #{$xs}{
                margin-bottom: 15px;
            }
        }
    }

    &.product-pagination{
        & ul{
            & li{
                & > a{
                    color: #4d3d30;
                    border: 1px solid rgb(77, 61, 48);
                }
                &:hover{
                    & a{
                    background-color: #4d3d30;
                    color: var(--tp-common-white);
                    }
                }
                & .current{
                    background-color: #4d3d30;
                    color: var(--tp-common-white);
                }
            }
        }
    }
}


.postbox-details{
    &-quote{
        & p{
            font-size: 42px;
            line-height: 124%;
            letter-spacing: -0.03em;
            color: var(--tp-common-black);
            font-family: var(--tp-ff-sequel-semi-bold);
            @media #{$xl}{
                font-size: 28px;
            }
            @media #{$lg,$md,$sm,$xs}{
                font-size: 25px;
                & br{
                    display: none;
                }
            }
        }
        & span{
            font-weight: 500;
            font-size: 16px;
            line-height: 1;
            color: rgba(30, 30, 30, 0.6);
        }
        &-box{
            background: #f6f6f6;
            border-radius: 12px;
            padding: 60px 100px 35px 60px;
            @media #{$sm,$xs}{
              padding: 20px 20px 20px 20px;  
            }
            @media #{$xs}{
                flex-wrap: wrap;
            }
            & i{
                flex: 0 0 auto;
                margin-right: 24px;
                display: inline-block;
                @media #{$xs}{
                    margin-right: 0;
                    margin-bottom: 20px;
                }
            }
            &-inner{
                @media #{$sm,$xs}{
                    flex-wrap: wrap;
                }
            }
        }
    }
    &-text{
        & p{
            & span{
                color: var(--tp-theme-primary);
            }  
        }
    }
    &-list{
        & ul{
            padding-left: 30px;
            @media #{$xs}{
                padding-left: 0;
            }
            & li{
                list-style-type: none;
                font-weight: 500;
                font-size: 17px;
                line-height: 1.1;
                color: rgba(30, 30, 30, 0.7);
                position: relative;
                padding-left: 20px;
                &:not(:last-child){
                    margin-bottom: 15px;
                }
                &::before{
                    position: absolute;
                    top: 7px;
                    left: 0;
                    content: '';
                    height: 5px;
                    width: 5px;
                    margin-right: 10px;
                    border-radius: 50%;
                    display: inline-block;
                    background-color: rgba(30, 30, 30, 0.7);
                }
                & span{
                    color: rgba(30, 30, 30, 0.4);
                }
                & i{
                    font-style: normal;
                    color: var(--tp-theme-primary);
                }
            }
        }
    }
    &-code{
        padding: 25px 30px;
        border-radius: 14px;
        background: #f6f6f6;
        & pre{
            font-size: 15px;
            font-weight: 500;
            line-height: 1.8;
            margin: 0;
            color: rgba(30, 30, 30, 0.7);
        }
    }
    &-social{
        & a{
            height: 36px;
            width: 36px;
            line-height: 36px;
            text-align: center;
            border-radius: 50px;
            display: inline-block;
            background-color: #f8f8f9;
            color: rgba(30, 30, 30, 0.7);
            & svg{
                height: 15px;
                width: 15px;
            }
            &:hover{
                color: var(--tp-common-white);
                background-color: var(--tp-theme-primary);
            }
        }
    }
    &-author{
        & .sidebar-widget-author-img {
            flex: 0 0 auto;
            margin-bottom: 0;
            margin-right: 30px;
            @media #{$xs}{
                margin-right: 0;
                margin-bottom: 20px;
            }
            & img{
                height: 100px;
                width: 100px;
                border-radius: 50px;
                margin-right: 0;
            }
        }
        & .sidebar-widget-author {
            padding: 0;
            padding-bottom: 0;
            padding: 30px;
            border: none;
            border-radius: 14px;
            @media #{$xs}{
                flex-wrap: wrap;
            }
        }
        & .sidebar-widget-author-content span {
            margin-bottom: 8px;
        }
        & .sidebar-widget-author-name {
            margin-bottom: 18px;
        }
        & .sidebar-widget-author-content p {
            @media #{$xl,$lg,$md,$xs}{
                & br{
                    display: none;
                }
            }
        }
    }
    &-tag{
        &-wrap{
            @media #{$sm,$xs}{
                flex-wrap: wrap;
            }
        }
    }
    &-navigation{
        &-wrap{
            border-top: 1px solid rgba(30, 30, 30, 0.08);
        }
        & a{
            display: flex;
            grid-gap: 20px;
             &:hover{
                & i{
                    color: #fff;
                    background-color: var(--tp-theme-primary);
                }
                & .tp-blog-navigation-title{
                    color: var(--tp-theme-primary);
                }
            }
        }
        & i{
            height: 50px;
            width: 50px;
            font-size: 17px;
            background: #f6f6f6;
            text-align: center;
            line-height: 50px;
            border-radius: 30px;
            flex: 0 0 auto;
            color: var(--tp-common-black);
            @include tp-transition(); 
        }
        & span{
            font-size: 15px;
            display: block;
            font-weight: 500;
            margin-bottom: 2px;
        }
        &-title{
            font-size: 18px;
            letter-spacing: inherit;
            line-height: 1.3;
            font-weight: 700;
            letter-spacing: -0.01em;
            transition: all .4s ease;
            font-family: var(--tp-ff-inter);
        }
    }
    &-form{
        padding: 55px 60px 60px 60px;
        border-radius: 20px;
        border: 1px solid rgba(30, 30, 30, 0.08);
        @media #{$md}{
            padding: 30px;
        }
        @media #{$sm,$xs}{
            padding: 20px;
        }
        & p{
            font-weight: 500;
            font-size: 15px;
            line-height: 1.7;
            margin-bottom: 23px;
            color: rgba(30, 30, 30, 0.7);
            @media #{$xs}{
                font-size: 16px;
            }
        }
        &-title{
            font-weight: 600;
            font-size: 30px;
            line-height: 1;
            letter-spacing: -0.04em;
            color: var(--tp-common-black);
            font-family: var(--tp-ff-inter);
        }
    }
    &-input{
        & label{
            font-weight: 500;
            font-size: 16px;
            line-height: 1;
            margin-bottom: 12px;
            color: var(--tp-common-black);
        }
        & input,
        & textarea{
            font-size: 17px;
            font-weight: 400;
            margin-bottom: 25px;
            border-radius: 14px;
            background: #f6f6f6;
            color: var(--tp-common-black);
            border: 1px solid transparent;
            @include tp-placeholder{
                font-size: 17px;
                font-weight: 400;
                color: #707072; 
            }
            &:focus{
                border-color: var(--tp-theme-primary);
                background: transparent;
            }
        }
        & textarea{
            height: 160px;
            resize: none;
            margin-bottom: 20px;
        }
    }
    &-remeber{
        & input{
            display: none;
            &:checked{
                & ~ label{
                    &::before{
                        visibility: visible;
                        opacity: 1;
                    }
                }
            }
        }
        & label{
            position: relative;
            padding-left: 30px;
            font-weight: 500;
            font-size: 15px;
            line-height: 1;
            color: rgba(30, 30, 30, 0.7);
            &::after{
                position: absolute;
                content: '';
                top: -3px;
                left: 0;
                width: 20px;
                height: 20px;
                z-index: -1;
                transition: .3s;
                line-height: 16px;
                border-radius: 4px;
                text-align: center;
                border: 1px solid rgba(30, 30, 30, 0.1);
            }
            &::before{
                position: absolute;
                content: url('../img/svg/check.svg');
                top: -2px;
                left: 2px;
                width: 16px;
                height: 16px;
                line-height: 16px;
                text-align: center;
                visibility: hidden;
                opacity: 0;
                transition: .3s;
                color: var(--tp-common-black);
                filter: invert(1);
            }
            &:hover{
                cursor: pointer;
            }
        }
    }
}