@use '../../utils' as *;
/*----------------------------------------*/
/*  5.4 Sidebar css
/*----------------------------------------*/

.sidebar{
    &-search{
        position: relative;
        & input{
            width: 100%;
            height: 60px;
            padding: 0 25px;
            font-weight: 400;
            font-size: 18px;
            line-height: 60px;
            letter-spacing: -0.01em;
            border-radius: 14px;
            padding-right: 50px;
            background: #f6f6f6;
            border: 1px solid transparent;
            color: var(--tp-common-black);
            @include tp-placeholder{
                font-weight: 400;
                font-size: 18px;
                line-height: 1;
                color: #9e9a9a;
            }
            &:focus{
                background-color: transparent;
                border: 1px solid var(--tp-theme-primary);
            }
        }
        & button{
            position: absolute;
            top: 0;
            right: 25px;
            height: 100%;
            line-height: 60px;
            color: var(--tp-common-black);
            &:hover{
                color: var(--tp-theme-primary);
            }
        }

    }
    &-widget{
        &-author{
            padding: 40px;
            border-radius: 14px;
            background: #f6f6f6;
            &-img{
                margin-bottom: 25px;
                & img{
                    margin-right: 20px;
                    height: 60px;
                    width: 60px;
                    border-radius: 50%;
                    flex: 0 0 auto;
                }
            }
            &-name{
                font-weight: 600;
                font-family: var(--tp-ff-inter);
                font-size: 18px;
                line-height: 1;
                letter-spacing: -0.02em;
                color: var(--tp-common-black);
            }
            &-content{
                & span{
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 1;
                    display: inline-block;
                    color: #9e9a9a;
                    text-transform: uppercase;
                }
                & p{
                    font-weight: 500;
                    font-size: 17px;
                    line-height: 1.5;
                    margin-bottom: 25px;
                    color: rgba(30, 30, 30, 0.8);
                    @media #{$sm,$xs}{
                        & br{
                            display: none;
                        }
                    }
                }
            }
            &-social{
                & a{
                    margin: 0 5px;
                    & span{
                        transition: all .4s ease-in-out;
                        color: var(--tp-common-black);
                    }
                    &:hover{
                        & span{
                            color: var(--tp-theme-primary);
                        }
                    }
                }
            }
        }
        &-title{
            font-family: var(--tp-ff-sequel-bold-head);
            font-size: 22px;
            line-height: 1;
            margin-bottom: 30px;
            letter-spacing: -0.02em;
            color: var(--tp-common-black);
        }
        &-category{
            & ul{
                & li{
                    list-style-type: none;
                    & a{
                        border-radius: 14px;
                        padding: 14px 20px;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 1;
                        display: inline-block;
                        background: #f6f6f6;
                        letter-spacing: -0.01em;
                        color: rgba(30, 30, 30, 0.8);
                        & span{
                            transition: .3s;
                            &:last-child{
                                color: #949494;
                                font-size: 14px;
                            }
                        }
                        &:hover{
                            color: var(--tp-theme-primary);
                            & span{
                                &:last-child{
                                    color: var(--tp-theme-primary);
                                }
                            }
                        }
                    }
                    &:not(:last-child){
                        margin-bottom: 6px;
                    }
                }
            }
        }
    }
    &-wrapper{
        padding-left: 35px;
        @media #{$xl,$lg}{
            padding-left: 0;
        }
        @media #{$md,$xs}{
            padding-left: 0;
            margin-top: 70px;
        }
    }
    &-blog-grid-wrap{
        @media #{$xxl} {
            margin-left: 80px;
        }
        @media #{$xl,$lg,$md,$sm,$xs} {
            margin-left: 0;
        }
        & .sidebar-wrapper {
            padding-left: 2px;
          }
    }
}
.tagcloud{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    & a{
        border-radius: 33px;
        padding: 10px 21px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1;
        text-align: center;
        background: #f6f6f6;
        display: inline-block;
        color: rgba(30, 30, 30, 0.8);
        letter-spacing: -0.01em;
        &:hover{
            color: var(--tp-common-white);
            background-color: var(--tp-theme-primary);
        }
    }
}
