@use '../../utils' as *;
/*----------------------------------------*/
/*  4.3 offcanvas scss
/*----------------------------------------*/

.body-overlay{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 995;
    width: 100%;
    height: 100%;
    background: rgba(24, 24, 24, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: 0.45s ease-in-out;
    &.apply{
        opacity: 1;
        visibility: visible;
    }
    &:hover{
        cursor: url(../img/cross-icon/cross-out.png), pointer;
    }
}

.tp-offcanvas {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    right: -100%;
    width: 450px;
    bottom: 0;
    box-shadow: 0 16px -32px 0 rgba(0, 0, 0, .8);
    background-color: var(--tp-common-white);
    z-index: 997;
    padding: 50px;
    scrollbar-width: none;
    opacity: 0;
    visibility: hidden;
    transition: 0.45s ease-in-out;
    overflow-y: scroll;
    @media #{$xs} {
        width: 100%;
        padding: 40px 35px;
    }
    @media #{$sm} {
        width: 400px;
        padding: 40px;
    }
    & .logo-2 {
        display: none;
    }
    &.opened {
        opacity: 1;
        visibility: visible;
        right: 0;
        -webkit-transition: all .4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        -moz-transition: all .4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        transition: all .4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        transition-duration: .6s; 
    }
    &-top {
        margin-bottom: 50px;
    }
    &-close {
        &-btn {
            & button{
                color: rgba($color: #000, $alpha: 1);
                &:hover {
                    opacity: 1;
                    @include tp-transform(rotate(90deg));
                }
            }
        }
    }
    &-menu{
       & .tp-megamenu-box {
            margin-bottom: 30px;
            & li{
                & a{
                    padding: 8px 20px;
                    border-radius: 10px;
                    font-size: 17px;
                    &:hover{
                        background-color: #f8f8fb;
                        color: var(--tp-common-black);
                    }
                }
            }
        }
        & .tp-megamenu{
            margin-top: 15px;
        }
    }
    &-social{
        margin-top: 30px;
        & ul{
            @include flexbox();
            align-items: center;
            & li {
                list-style: none;
                &:not(:last-child) {
                    margin-right: 8px;
                }
                & a {
                    display: inline-block;
                    text-align: center;
                    width: 40px;
                    height: 40px;
                    line-height: 38px;
                    border-radius: 40px;
                    transition: all .3s;
                    color: var(--tp-common-black);
                    border: 1px solid rgba(2, 11, 24, 0.10);
                    &:hover {
                        background-color: var(--tp-common-black);
                        border-color: var(--tp-common-black);
                        color: var(--tp-common-white);
                    }
                    & svg {
                        @include tp-transform(translateY(-1px));
                    }
                }
            }
        }
    }
    &-title{
        font-size: 40px;
        line-height: 1;
        letter-spacing: -0.8px;
        font-weight: 500;
        margin-bottom: 15px;
        color: var(--tp-common-black);
        &.sm {
            font-size: 20px;
            font-weight: 500;
            margin-bottom: 15px;
            text-transform: uppercase;
            color: var(--tp-common-black);
        }
    }
    &-contact{
        margin-bottom: 55px;
        & ul {
            & li {
                list-style: none;
                &:not(:last-child) {
                    margin-bottom: 2px;
                }
                & a {
                    display: inline-block;
                    color: #414144;
                    font-size: 16px;
                    position: relative;
                    font-family: var(--tp-ff-inter);
                    &::after{
                        position: absolute;
                        bottom: 2px;
                        right: 0;
                        width: 0;
                        height: 1px;
                        content: '';
                        transition: .4s;
                        background-color: #1e1e1e;
                    }
                    &:hover{
                        color: var(--tp-common-black);
                        &::after{
                            width: 100%;
                            right: auto;
                            left: 0;
                        }
                    }
                }
            }
        }
    }
    &-gallery {
        margin-bottom: 65px;
        &-img{
            & img{
                transition: .9s;
            }
            &:hover{
                & img{
                    transform: scale(1.2) rotate(-2deg);
                }
            }
        }
    }
    &-content {
        margin-bottom: 45px;
        & p {
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            color: #414144;
            font-family: var(--tp-ff-inter);
        }
    }
}

$bg-duration: 0.7s;
$ease: cubic-bezier(.2, .8, .2, 1);

// OPEN delays
$left-delay: calc(#{$bg-duration} + 0.06s);
$menu-inner-delay: calc(#{$left-delay} + 0.2s);
$btn-box-delay: calc(#{$menu-inner-delay} + 0.15s);
$right-delay: calc(#{$btn-box-delay} + 0.2s);

// CLOSE delays (reverse order)
$right-close-delay: 0s;
$btn-box-close-delay: 0.2s;
$menu-inner-close-delay: 0.4s;
$left-close-delay: 0.6s;



// -------- tp-offcanvas-2 -------//

.tp-offcanvas-2{
    &-wrapper{
        padding: 100px 100px 0px;
        position: relative;
        z-index: 2;
        @media #{$xl,$lg} {
            padding: 80px 30px 0px;
            padding-right: 60px;
        }
        @media #{$md,$sm,$xs} {
            padding: 60px 30px 0px;
        }
        & .tp-menu-close {
            top: 30px;
            @media #{$xs} {
                top: 13px;
            }
        }
        & .tp-offcanvas-menu{
            & > nav {
                & > ul {
                    & > li {
                        overflow: hidden;
                        opacity: 0;
                        visibility: hidden;
                        transition: all 1.5s ease-in-out !important;
                        &:nth-child(2){
                            & > a{
                                transition-delay: 1.7s;
                            }
                        }
                        &:nth-child(3){
                            & > a{
                            transition-delay: 1.8s;
                            }
                        }
                        &:nth-child(3){
                            & > a{
                                transition-delay: 1.9s;
                            }
                        }
                        &:nth-child(4){
                            & > a{
                                transition-delay: 2s;
                            }
                        }
                        &:nth-child(5){
                            & > a{
                                transition-delay: 2.1s;
                            }
                        }
                        & > a{
                            font-size: 80px;
                            padding: 0;
                            line-height: 1.2;
                            letter-spacing: -0.04em;
                            color: var(--tp-common-black);
                            font-family: var(--tp-ff-sequel-semi-bold);
                            @include tp-transform(translateY(-300px));
                            opacity: 0;
                            visibility: hidden;
                            transition: all 1.5s ease-in-out!important;
                            @media #{$xl} {
                                font-size: 80px;
                            }
                            @media #{$lg,$md} {
                                font-size: 60px;
                            }
                            @media #{$xs} {
                                font-size: 40px;
                            }
                        }
                        & .tp-menu-close{
                            & i{
                                font-size: 28px;
                                color: var(--tp-common-black);
                            }
                        }
                        & .submenu {
                            & > li{
                                & > a {
                                    font-size: 30px;
                                    line-height: 1;
                                    transition: 0.3s;
                                    color: #717172;
                                    letter-spacing: -0.02em;
                                    font-family: var(--tp-ff-sequel-semi-bold);
                                    &:hover{
                                        background-color: initial;
                                        transform: translateX(15px);
                                        color: var(--tp-common-black);
                                    }
                                }
                            }
                        }
                    }
                }
            }
            & nav {
                & ul {
                    & li {
                        & .tp-megamenu {
                            width: auto;
                            & .col-xl-4{
                                width: 100%;
                            }
                            & li{
                                & a {
                                    font-size: 30px;
                                    line-height: 1;
                                    transition: 0.3s;
                                    color: #717172;
                                    letter-spacing: -0.02em;
                                    font-family: var(--tp-ff-sequel-semi-bold);
                                    &:hover{
                                        background-color: initial;
                                        transform: translateX(15px);
                                        color: var(--tp-common-black);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        & .hamburger-close-btn{
            color: var(--tp-common-black);
            font-size: 40px;
            cursor: pointer;
            transition: all .4s ease;
            &:hover{
                @include tp-transform(rotate(90deg));
            }
        }
        & .hamburger-mobile-close-btn{
            &:hover{
                @include tp-transform(rotate(0));
            }
        }
        & .hamburger-mobile-close-btn{
            position: absolute;
            bottom: -100px;
            left: 0;
            right: 0;
            text-align: center;
            font-size: 20px;
            &:hover{
                color: var(--tp-theme-primary)
            }
        }
        & .tp-header-logo{
            @include tp-transform(translateY(-80px));
            visibility: hidden;
            opacity: 0;
            transition-delay: 0s;
            transition: all 1.5s ease-in-out!important;
        }
    }
    &-left{
        opacity: 0;
        animation-delay: 1s;
        transform: translateY(20px);
        & .tp-offcanvas-menu {
            margin-bottom: 105px;
            @media #{$xxl,$xl} {
                margin-bottom: 65px;
            }
            @media #{$md,$xs} {
                margin-bottom: 0;
            }
            & ul{
                overflow: hidden;
                overflow-y: scroll;
                scrollbar-width: none;
                max-height: 600px;
                padding-top: 10px;
            }
        }
    }
}

.tp-offcanvas-2-area.menu-open,
.tp-offcanvas-2-area.menu-open-temp {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transition: all 0s 2s;
    width: 50%;
    z-index:10;
    @media #{$md,$sm,$xs} {
        width: 100%;
    }
}

.tp-offcanvas-2-area {
    position: fixed;
  .offcanvas-bg {
    inset: 0;
    border-radius: 20px;
    clip-path: circle(0% at calc(100% - 45px) 45px);
    transition: clip-path 0.7s ease-in-out;
    right: 0;
    position: fixed;
    width: 50%;
    margin: 20px;
    right: 0;
    left: auto;
    z-index: 2;
    backdrop-filter: blur(40px);
    background: rgb(247 240 240 / 90%);
    box-shadow: 0 20px 30px -8px rgba(19, 19, 22, 0.1);
    @media #{$md,$sm,$xs} {
        margin: 0;
        border-radius: 0;
        width: 100%;
    }
  }
  &.menu-open {
    .offcanvas-bg {
      clip-path: circle(150% at calc(100% - 45px) 45px);
    }

    .offcanvas-menu {
      pointer-events: auto;
    }
    & .tp-offcanvas-menu{
        & > nav {
            & > ul {
                & > li {
                    visibility: visible;
                    opacity: 1;
                    & a{
                        visibility: visible;
                        opacity: 1;
                        @include tp-transform(translateY(0)); 
                    }
                }
            }
        }
    }
    & .tp-header-logo{
        visibility: visible;
        opacity: 1;
        @include tp-transform(translateY(0)); 
    }
    .tp-offcanvas-2-left {
      opacity: 1;
      transform: translateY(0);
      transition-delay: $left-delay;

      .tp-offcanvas-menu {
        opacity: 1;
        transform: translateY(0);
        transition: opacity 0.6s $ease, transform 0.6s $ease;
        transition-delay: $menu-inner-delay;
      }
    }
  }
  &:not(.menu-open) {
    .offcanvas-menu {
      pointer-events: none;
    }

    .tp-offcanvas-2-left {
      transition-delay: $left-close-delay;
      opacity: 0;
      transform: translateY(30px);

      .tp-offcanvas-menu {
        opacity: 0;
        transform: translateY(20px);
        transition-delay: $menu-inner-close-delay;
      }

      .tp-offcanvas-2-left-btn-box {
        opacity: 0;
        transform: translateY(20px);
        transition-delay: $btn-box-close-delay;
      }
    }

    .offcanvas-bg {
      clip-path: circle(0% at calc(100% - 45px) 45px);
      transition-delay: .4s;
    }
  }
}

.hamburger-sticky-menu{
    width: 60px;
    height: 60px;
    background: var(--tp-theme-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40px;
    right: 40px;
    z-index: 1;
    border-radius: 100px;
    opacity: 0;
    visibility: hidden;
    transform: scale(.5);
    padding-right: 18px;
    transition-delay: .4s;
    @media #{$sm,$xs} {
        top: 20px;
        right: 20px;
    }
    & span{
        background: var(--tp-common-white);
    }
    &.header-sticky{
        opacity: 1;
        visibility: visible;
        transform: scale(1);
        position: fixed;
    }
}