
// font url

$font-url: 'https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&display=swap';

@font-face {
    font-family: 'Sequel Sans Medium Head';
    src: url('../fonts/SequelSans-MediumHead.woff2') format('woff2'),
        url('../fonts/SequelSans-MediumHead.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sequel Sans Roman Head';
    src: url('../fonts/SequelSans-RomanHead.woff2') format('woff2'),
        url('../fonts/SequelSans-RomanHead.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sequel Sans Bold Head';
    src: url('../fonts/SequelSans-BoldHead.woff2') format('woff2'),
        url('../fonts/SequelSans-BoldHead.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Sequel Sans Semi Bold Head';
    src: url('../fonts/SequelSans-SemiBoldHead.woff2') format('woff2'),
        url('../fonts/SequelSans-SemiBoldHead.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Sequel Sans Heavy Disp';
    src: url('../fonts/SequelSans-HeavyDisp.woff2') format('woff2'),
        url('../fonts/SequelSans-HeavyDisp.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

// font family
$font-family: (
    'ff': (
        'body': "'Inter', sans-serif",
        'inter': "'Inter', sans-serif",
        'heading': "'Sequel Sans Medium Head', sans-serif",
        'p': "'Inter', sans-serif",
        'jost': "'Jost', sans-serif",
        'sequel-medium': "'Sequel Sans Medium Head', sans-serif",
        'sequel-roman': "'Sequel Sans Roman Head', sans-serif",
        'sequel-bold-head': "'Sequel Sans Bold Head', sans-serif",
        'sequel-semi-bold': "'Sequel Sans Semi Bold Head', sans-serif",
        'sequel-heavy-disp': "'Sequel Sans Heavy Disp', sans-serif",
        'fontawesome': '"Font Awesome 6 Pro"',
    )
);

// font size
$font-size: (
    'fz': (
        'body': 14px,
        'p': 16px,
    )
);


