@use '../../utils' as *;

/*----------------------------------------*/
/*  7.2 awards
/*----------------------------------------*/

.mp-awards{
    &-left{
        transition: all .4s ease;
        display: flex;
        @media #{$xs}{
            display: block;
            width: 100%;
        }
        & span{
            font-weight: 600;
            letter-spacing: -0.03em;
            color: var(--tp-common-black);
        }
        & .count{
            @media #{$sm,$xs}{
                margin-right: 10px;
            }
        }
    }
    &-right{
        font-weight: 600;
        letter-spacing: -0.03em;
        color: var(--tp-common-black);
        transition: all .4s ease;
        @media #{$xs}{
            width: 100%;
        }
    }
    &-logo{
        width: 50px;
        height: 50px;
        border-radius: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &-item{
        padding: 25px 30px 5px 23px;
        transition: all .4s ease;
        @media #{$sm,$xs}{
            flex-direction: column;
            gap: 0!important;
        }
        &:hover{
            border-radius: 12px;
            background: rgba(30, 30, 30, 0.05);
            & .mp-awards-left{
                margin-left: 15px;
                @media #{$sm,$xs}{
                    margin-left: 0;
                }
            }
            & .mp-awards-right{
                margin-right: 15px;
                @media #{$sm,$xs}{
                    margin-right: 0;
                }
            }
        }
        &-wrap{
            @media #{$lg,$md,$sm,$xs}{
                margin-left: 0;
            }
        }
    }
}
.right-item-animetion{
    border-top: 1px solid var(--tp-border-1);
    border-bottom: 1px solid var(--tp-border-1);
    margin-top: -1px;
    &:hover{
        border-color: transparent;
    }
}
.right-item-animetion:hover + .right-item-animetion,
.right-item-animetion:has(+ .right-item-animetion:hover) {
  border-color: transparent;
}

.cs-awards{
    &-btn{
        padding: 42px 75px;
        margin: 10px 65px;
        @media #{$xl,$lg,$md,$sm,$xs}{
            margin: 10px 0;
        }
    }
    &-item{
        &-wrap{
            @media #{$xl,$lg,$md,$sm,$xs}{
                margin-left: 0;
            }
            & .mp-awards-item {
                padding: 35px 0 15px 0;
                @media #{$md,$sm,$xs}{
                    padding: 35px 15px 15px 15px;
                }
            }
            & .mp-awards-left span {
                text-transform: capitalize;
            }
            & .mp-awards-left .count {
                width: 227px;
                display: inline-block;
            }
            & .mp-awards-left .count {
                @media #{$md,$sm,$xs}{
                    width: 120px;
                }
            }
        }
    }
    &-title{
        &-wrap{
            @media #{$xl,$lg,$md,$sm,$xs}{
                flex-direction: column;
            }
        }
    }
}

.mg-awards{
    &-title{
        font-size: 172px;
        letter-spacing: -0.03em;
        @media #{$xxl,$xl}{
            font-size: 140px;
        }
        @media #{$lg,$md,$sm}{
            font-size: 115px;
        }
        @media #{$xs}{
            font-size: 80px;
        }
        &-sm{
            font-size: 24px;
        }
        &-wrap{
            @media #{$md,$sm,$xs}{
                margin-left: 0;
            }
        }
    }
    &-subtitle{
        &-wrap{
            @media #{$md,$sm,$xs}{
                margin-bottom: 0;
            }
        }
    }
    &-item{
        &-wrap{
            &:hover{
                & .mp-awards-left .count svg {
                    opacity: 1;
                    visibility: visible;
                }
            }
            & .mp-awards-left{
                margin-left: -26px;
                @media #{$sm,$xs}{
                    flex-direction: column;
                    text-align: center;
                }
                @media #{$xs}{
                    margin-left: 0;
                }
                & span{
                    color: rgba(27, 23, 15, 0.6);
                }
                & .count {
                    width: 740px;
                    font-size: 24px;
                    font-family: var(--tp-ff-sequel-medium);
                    letter-spacing: -0.03em;
                    text-transform: capitalize;
                    font-weight: inherit;
                    color: var(--tp-common-black);
                    @media #{$xxl,$xl,$lg,$md,$sm,$xs}{
                        width: 460px;
                    }
                    @media #{$sm,$xs}{
                        width: 100%;
                    }
                    & svg{
                        opacity: 0;
                        visibility: hidden;
                        transition: all .4s ease;
                        margin-right: 6px;
                    }
                }
            }
            & .mp-awards-right {
                @media #{$xs}{
                    text-align: center;
                }
            }
        }
    }
}