@use '../../utils' as *;

/*----------------------------------------*/
/*  7.5 Career Css
/*----------------------------------------*/

.tp-career{
    &-title{
        font-size: 120px;
        line-height: 1;
        color: var(--tp-common-black);
        letter-spacing: -4.8px;
        font-family: var(--tp-ff-sequel-semi-bold);
        @media #{$xl} {
            font-size: 100px;
        }
        @media #{$lg} {
            font-size: 90px;
        }
        @media #{$md} {
            font-size: 70px;
            letter-spacing: -1.8px;
        }
        @media #{$sm,$xs} {
            font-size: 52px;
            letter-spacing: -1.8px;
        }
        & br{
            @media #{$sm,$xs} {
                display: none;
            }
        }
    }
    &-shape-1{
        position: absolute;
        top: 37%;
        right: 22%;
        @media #{$lg,$md,$sm,$xs} {
            display: none;
        }
    }
    &-btn{
        position: absolute;
        bottom: 70px;
        right: 100px;
        @media #{$lg} {
            right: 50px;
            bottom: 35px;
        }
        @media #{$md,$sm,$xs} {
            position: static;
            padding-left: 0;
            margin-top: 40px;
        }
    }

    &-opening{
        &-item{
            border-bottom: 1px solid rgba(17, 16, 19, 0.08);
            &.ptb{
                padding-top: 40px;
                padding-bottom: 40px;
            }
        }
        &-heading{
            padding-bottom: 20px;
            & span{
                display: inline-block;
                color: var(--tp-common-black);
                font-size: 18px;
                font-weight: 400;
                letter-spacing: -0.18px;
            }
        }
        &-title-name{
            font-size: 30px;
            font-weight: 600;
            color: var(--tp-common-black);
            letter-spacing: -0.3px;
            font-family: var(--tp-ff-inter);
        }
        &-role{
            & span{
                color: var(--tp-common-black);
                font-size: 18px;
                font-weight: 400;
                display: inline-block;
                letter-spacing: -0.18px;
            }
        }
        &-type{
            & span{
                font-size: 18px;
                color: var(--tp-common-black);
                font-weight: 400;
                display: inline-block;
                letter-spacing: -0.18px;
            }
        }
    }

    &-slider{
        &-ptb{
            @media #{$sm,$xs} {
                padding-bottom: 100px;
            }
        }
    }

    &-details{
        &-ptb{
            @media #{$sm,$xs} {
                padding-top: 100px;
            }
        }
        &-wrapper{
            padding-right: 105px;
            @media #{$xl} {
                padding-right: 50px;
            }
            @media #{$lg,$md,$sm,$xs} {
                padding-right: 0;
            }
        }
        &-top{
            @media #{$md,$sm,$xs} {
                padding-bottom: 50px;
            }
        }
        &-subtitle{
            position: relative;
            color: var(--tp-common-black);
            font-size: 18px;
            font-weight: 400;
            padding-left: 12px;
            display: inline-block;
            margin-bottom: 10px;
            letter-spacing: -0.18px;
            text-transform: uppercase;
            &::before{
                position: absolute;
                content: '';
                top: 8px;
                left: -5px;
                height: 8px;
                width: 8px;
                border-radius: 4px;
                background: #FF5722;
            }
        }
        &-title{
            font-size: 80px;
            font-weight: 700;
            line-height: 1;
            color: var(--tp-common-black);
            margin-bottom: 30px;
            letter-spacing: -2.4px;
            @media #{$lg,$md,$sm,$xs} {
                font-size: 60px;
            }
        }
        &-title-2{
            color: var(--tp-common-black);
            font-size: 34px;
            font-weight: 700;
            margin-bottom: 15px;
            letter-spacing: -0.68px;
            font-family: var(--tp-ff-inter);
        }
        &-info{
            @media #{$sm,$xs} {
                flex-wrap: wrap;
            }
            &-item{
                &:not(:last-of-type){
                    margin-right: 50px;
                }
                & span{
                    font-size: 14px;
                    font-weight: 400;
                    color: #6B6C74;
                    display: inline-block;
                    margin-bottom: 5px;
                }
                & h5{
                    font-size: 16px;
                    font-weight: 500;
                    color: var(--tp-common-black);
                    letter-spacing: -0.16px;
                }
            }
        }
        &-wrap{
            & p{
                font-size: 16px;
                color: var(--tp-common-black);
                line-height: 26px;
                & br{
                    @media #{$xl,$lg,$sm,$sm,$xs} {
                        display: none;
                    }
                }
            }
        }
        &-list{
            & ul{
                display: inline-block;
                padding-left: 30px;
                & li{
                    font-size: 16px;
                    line-height: 1.2;
                    color: var(--tp-common-black);
                    margin-bottom: 20px;
                }
            }
        }
        &-sidebar{
            &-box{
                border-radius: 20px;
                border: 1px solid #F2F2F5;
                background: #F8F8FB;
                padding: 50px 40px;
                @media #{$lg,$sm,$xs} {
                    padding: 50px 25px;
                }
            }
            &-title{
                margin: 0;
                font-size: 26px;
                font-weight: 500;
                color: var(--tp-common-black);
                letter-spacing: -0.52px;
                @media #{$lg,$sm,$xs} {
                    font-size: 24px;
                }
            }
            &-heading{
                margin-bottom: 50px;
                @media #{$lg,$sm,$xs} {
                    margin-bottom: 40px;
                }
                & span{
                    font-size: 16px;
                    font-weight: 400;
                    color: #6B6C74;
                    margin-bottom: 10px;
                    display: inline-block;
                }
            }
            &-thumb{
                & img{
                    width: 100%;
                }
            }
            &-item{
                margin-bottom: 30px;
                &-icon{
                    margin-right: 12px;
                    & span{
                        display: grid;
                        height: 50px;
                        width: 50px;
                        place-content: center;
                        border-radius: 50%;
                        background: var(--tp-common-white);
                        border: 1px solid rgba(17, 16, 19, 0.10);
                    }
                }
                &-content{
                    & span{
                        font-size: 15px;
                        font-weight: 400;
                        color: #6B6C74;
                        display: inline-block;
                    }
                    & h5{
                        margin: 0;
                        font-size: 18px;
                        font-weight: 500;
                        color: var(--tp-common-black);
                        letter-spacing: -0.36px;
                        @media #{$lg,$sm,$xs} {
                            font-size: 16px;
                        }
                    }
                }
            }
            &-btn{
                & a{
                    width: 100%;
                    font-size: 20px;
                    font-weight: 500;
                    text-align: center;
                    padding: 17px 30px;
                    border-radius: 200px;
                    display: inline-block;
                    letter-spacing: -0.2px;
                    background: var(--tp-theme-primary);
                    color: var(--tp-common-white);
                    @media #{$lg,$xs} {
                        font-size: 17px;
                        padding: 14px 27px;
                    }
                    &:hover{
                        background-color: var(--tp-common-black);
                    }
                }
            }
        }
    }
}

.tp-application{
    &-subtitle{
        font-weight: 600;
        font-size: 16px;
        text-transform: uppercase;
        color: var(--tp-common-black);
        line-height: 1;
        position: relative;
        display: inline-block;
        border: 1px solid rgba(1, 1, 3, 0.1);
        border-radius: 20px;
        padding: 10px 22px;
        padding-left: 40px;
        &::before{
            position: absolute;
            content: "";
            width: 6px;
            height: 6px;
            background: #010103;
            border-radius: 40px;
            top: 50%;
            transform: translateY(-50%);
            left: 20px;
        }
    }
    &-title{
        font-weight: 600;
        font-size: 42px;
        line-height: 1;
        letter-spacing: -0.02em;
        color: var(--tp-common-black);
    }
    &-form{
        &-wrap{
            @media #{$lg,$md,$sm,$xs}{
                margin-left: 0;
            }
            & .tp-contact-form-input textarea {
                height: 133px;
            }
        }
        &-btn{
            @media #{$xs}{
                flex-wrap: wrap;
            }
        }
    }
    &-upload{
        & span{
            font-weight: 500;
            font-size: 16px;
            letter-spacing: -0.02em;
            color: var(--tp-common-black);
            display: block;
            margin-bottom: 10px;
        }
    }
    &-btn{
        & a{
            border-radius: 0;
            text-transform: uppercase;
        }
    }
}

.st-hero{
    &-btn{
        margin-bottom: 35px;
        & a{
            height: 150px;
            width: 150px;
            border-radius: 50%;
            text-align: center;
            display: grid;
            place-content: center;
            color: var(--tp-common-black);
            background-color: var(--tp-common-white);
            border: 1px solid var(--tp-border-1);
            &:hover{
                color: var(--tp-common-white);
                background-color: var(--tp-theme-primary);
                & .st-hero-btn-text{
                    color: var(--tp-common-white);
                }
            }
        }
        &-text{
            font-size: 18px;
            font-weight: 600;
            position: relative;
            display: block;
            margin-bottom: 5px;
            color: var(--tp-common-black);
            @include tp-transition();
        }
        &-icon{
            @extend %svg-2;
            display: block;
            margin-left: 8px;
        }
    }
}

.tp-benefit{
    &-ptb{
        @media #{$sm,$xs} {
            padding-top: 100px;
            padding-bottom: 100px;
        }
    }
    &-heading{
        @media #{$sm,$xs} {
            margin-bottom: 50px;
        }
    }
    
    &-box{
        & .row{
            [class*= "col"]{
                &:nth-child(4n){
                    & .tp-benefit-item{
                        border-right: none;
                    }
                }
            }
        }
    }
    &-item{
        padding: 40px;
        border-right: 1px solid #F1F1F4;
        @media #{$lg,$md,$sm,$xs} {
            padding: 30px;
        }
        @media #{$md,$sm,$xs} {
            margin-left: -1px;
            margin-top: -1px;
            border: 1px solid #f1f1f4 !important;
        }
        &.tp-benefit-borber-bottom{
            border-bottom: 1px solid #F1F1F4;
            @media #{$md,$sm,$xs} {
                border: none;
            }
        }
        &-icon{
            height: 74px;
        }
        &-title{
            font-size: 20px;
            font-weight: 600;
            color: var(--tp-common-black);
            letter-spacing: -0.4px;
            font-family: var(--tp-ff-inter);
            @media #{$lg,$sm,$md} {
                font-size: 18px;
            }
            & br{
                @media #{$md,$sm,$xs} {
                    display: none;
                }
            }
        }
    }
}

.ar-banner{
    &-wrap{
        height: 820px;
        overflow: hidden;
        @media #{$xxl}{
            height: 720px;
        }
        @media #{$xl}{
            height: 580px;
        }
        @media #{$lg}{
            height: 470px;
        }
        @media #{$md}{
            height: 370px;
        }
        @media #{$sm,$xs}{
            height: 250px;
        }
        & img{
            margin-top: -150px;
            @media #{$xl,$lg,$md}{
                margin-top: -50px;
            }
            @media #{$sm,$xs}{
                margin-top: -20px;
            }
        }
    }
}