@use '../../utils' as *;

/*----------------------------------------*/
/*  7.6 cetagory css
/*----------------------------------------*/

.shop-cetagory{
    &-item{
        border-radius: 24px;
        &:hover{
            & img{
                transform: scale(1.1);
            }
        }
        & img{
            border-radius: 24px;
            transition: all .6s ease;
        }
    }
    &-badge{
        border-radius: 50px;
        padding: 12px 27px;
        font-size: 20px;
        letter-spacing: -0.05em;
        color: var(--tp-common-black);
        display: inline-block;
        position: absolute;
        left: 40px;
        bottom: 30px;
        z-index: 2;
        background: var(--tp-common-white);
    }
}