@use '../../utils' as *;

/*----------------------------------------*/
/*  7.16 payment css
/*----------------------------------------*/

.shop-payment{
    &-title{
        font-size: 20px;
        letter-spacing: -0.01em;
    }
    &-content{
        & p{
            font-size: 15px;
            line-height: 160%;
            @media #{$lg,$md,$sm,$xs}{
                & br{
                    display: none;
                }
            }
        }
    }
    &-icon{
        transition: all .4s ease;
    }
    &-item{
        &:hover{
            & .shop-payment-icon{
                animation-name: tpshake;
                animation-timing-function: ease-in-out;
                animation-duration: 0.4s;
                animation-iteration-count: 1;
            }
        }
    }
    &-border{
        border-bottom: 1px solid rgba(9, 9, 11, 0.1);
    }
}


.shop-text{
    &-slider{
        border: none;
        @media #{$md,$sm,$xs}{
            margin-top: 70px;
        }
        & span {
            font-weight: 500;
            font-size: 20px;
            color: var(--tp-common-black);
            text-transform: capitalize;
            & span{
                background: var(--tp-common-black);
                width: 4px;
                height: 4px;
                border: none;
                border-radius: 10px;
                margin: 0 30px;
            }
        }
    }
}

.shop-ins{
    &-thumb{
        overflow: hidden;
        &:hover{
            & img{
                transform: scale(1.1);
            }
        }
        & img{
           transition: all .6s ease;
        }
    }
}