@use '../../utils' as *;

/*----------------------------------------*/
/*  7.18 Price
/*----------------------------------------*/

.ds-price{
    &-heading{
        @media #{$md,$xs} {
            margin-bottom: 50px;
        }
        & .tp-section-title{
            color: var(--tp-common-white);
        }
    }
    &-item{
        padding: 50px 52px;
        background: var(--tp-grey-4);
        border-radius: 16px;
        @media #{$xl,$md,$xs} {
            padding: 50px 30px;
        }
        &-head{
            margin-bottom: 32px;
            padding-bottom: 32px;
            border-bottom: 1px solid rgba($color: #010103, $alpha: 0.1);
            & span{
                font-size: 16px;
                font-weight: 600;
                margin-bottom: 5px;
                display: inline-block;
                text-transform: uppercase;
                color: var(--tp-common-black);
            }
            & h4{
                font-size: 62px;
                line-height: 1;
                margin-bottom: 0;
                text-transform: capitalize;
                color: var(--tp-common-black);
                font-family: var(--tp-ff-sequel-bold-head);
                @media #{$xl} {
                    font-size: 50px;
                }
                @media #{$md,$xs} {
                    font-size: 45px;
                }
                & i{
                    font-size: 14px;
                    font-weight: 600;
                    font-style: normal;
                    display: inline-block;
                    transform: translateX(-10px);
                    font-family: var(--tp-ff-inter);
                }
            }
            & p{
                font-size: 16px;
                font-weight: 400;
                margin-bottom: 15px;
                text-transform: capitalize;
                color: var(--tp-common-black);
            }
        }
        &-list{
            display: block;
            margin-bottom: 80px;
            @media #{$xl,$md,$xs} {
                margin-bottom: 50px;
            }
            &-title{
                font-size: 22px;
                font-weight: 500;
                margin-bottom: 30px;
                text-transform: capitalize;
                color: var(--tp-common-black);
            }
            & ul {
                & li{
                    list-style: none;
                    font-size: 16px;
                    font-weight: 400;
                    display: flex;
                    margin-bottom: 8px;
                    text-transform: capitalize;
                    color: var(--tp-common-black);
                    & span{
                        @extend %svg-2;
                        margin-right: 8px;
                        display: inline-block;
                    }
                }
            }
        }
        &.active{
            position: relative;
        }
        &-tag{
            top: 0;
            right: 50px;
            position: absolute;
            writing-mode: vertical-rl;
            transform: rotate(180deg);
            @media #{$xl,$md,$xs} {
                right: 30px;
            }
            & span{
                font-size: 14px;
                font-weight: 500;
                line-height: 1;
                padding: 35px 13px 25px 13px;
                display: inline-block;
                text-transform: capitalize;
                color: var(--tp-common-white);
                background-color: var(--tp-theme-primary);
                clip-path: polygon(100% 0%, 100% 48%, 100% 100%, 0px 100%, 0px 0px, 50.00% 15.12%);
            }
        }
    }
}

.tp-pricing{
    &-nav {
      &-wrapper {
        & .tp-input-check {
            top: 0;
            left: 0;
            opacity: 0;
            z-index: 6;
            width: 100%;
            height: 100%;
            display: block;
            cursor: pointer;
            position: absolute;
        }
        & .tp-input-check:checked~.tp-switch-toggle {
            left: 4px;
            right: 57.3%;
        }
        &.cr-nav{
            & .tp-toggler-pre, 
            & .tp-toggler-post{
                color: var(--tp-common-white);
            }
            & .tp-toggle-input-wrap{
                border-color: rgba($color: #F5F7F5, $alpha: 0.1);
            }
            & .tp-switch-toggle{
                background: linear-gradient(180deg, #fff 0%, #fff 100%);
            }
        }
      }
    }
}



.tp-toggler-pre,
.tp-toggler-post {
   font-weight: 500;
   font-size: 16px;
   line-height: 1;
   cursor: pointer;
   transition: all .3s;
   color: var(--tp-common-black);

   &.is-active {
      color: var(--tp-common-black);
   }

   &:hover {
      color: var(--tp-common-black);
   }
}
.tp-toggler-pre {
   margin-right: 15px;
}
.tp-toggler-post {
   margin-left: 15px;
}
.tp-toggle-input-wrap {
   position: relative;
   width: 76px;
   height: 36px;
   overflow: hidden;
   border-radius: 100px;
   border: 1px solid rgba($color: #010103, $alpha: 0.1);
}
.tp-switch-toggle {
   position: absolute;
   top: 4px;
   right: 4px;
   left: 57.3%;
   bottom: 4px;
   z-index: 1;
   border-radius: 100%;
   box-shadow: (0px 4px 6px rgba(1, 17, 22, 0.24));
   transition: 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
   background: linear-gradient(180deg, #010103 0%, #010103 100%);
}
.tp-tab-hide {
   display: none;
}
