@use '../../utils' as *;

/*----------------------------------------*/
/*  7.22 service css
/*----------------------------------------*/
.#{$theme-prifix}-service{
    &-title{
        font-size: 120px;
        line-height: 1.1;
        letter-spacing: -0.05em;
        text-transform: uppercase;
        transition: all .5s ease;
        @include bgborder(currentColor, 0,0);
        @include tp-transition(all .4s ease);
        background-size: 0 6px, 0 6px;
        @media #{$xl}{
            font-size: 100px;
        }
        @media #{$lg,$md,$sm}{
            font-size: 70px;
        }
        @media #{$xs}{
            font-size: 45px;
        }
        &:hover{
            @include bgborder(currentColor, 0,100%);
            @include tp-transition(all .4s ease);
            background-size: 0 6px, 100% 6px;
            & a{
                opacity: 1;
            }
            & .tp-service-icon{
                opacity: 1;
                visibility: visible;
            }
        }
        & a{
            opacity: 0.3;
        }
    }
    &-icon{
        transform: translateY(-25px);
        opacity: 0;
        visibility: hidden;
        transition: all .5s ease;
        @media #{$xs}{
            width: 26px;
            transform: translateY(-5px);
            & svg{
                width: 26px;
                margin-left: 5px;
            }
        }
    }
    &-content{
        @media #{$xl,$lg,$md,$sm,$xs}{
            margin-right: 0;
        }
    }
    &-img{
        &-wrapper{
            height: 450px;
            @media #{$md,$sm}{
                height: 440px;
            }
            @media #{$xs}{
                height: 300px;
            }
            &.image-container {
                position: relative;
                overflow: hidden;
            }
            & .hover-image {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 0;
                border-radius: 16px;
            }
            & .hover-image img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: block;
                border-radius: 16px;
            }
        }
    }
    &-list{
        &-wrap{
            @media #{$lg,$md,$sm,$xs}{
                margin-left: 0;
            }
        }
    }
}


.pp-service{
    &-list{
        @media #{$md,$sm,$xs}{
            margin-left: 0;
        }
        & ul{
            & li{
                list-style: none;
                & a{
                    font-family: var(--tp-ff-sequel-medium);
                    font-size: 28px;
                    letter-spacing: -0.05em;
                    color: var(--tp-common-black);
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border-bottom: 1px solid rgba(38, 38, 38, 0.1);
                    padding: 11px 0;
                    @media #{$xs}{
                        font-size: 24px;
                    }
                    &:hover{
                        & span{
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                    & span{
                        width: 40px;
                        height: 40px;
                        display: inline-block;
                        background: var(--tp-common-black);
                        color: var(--tp-common-white);
                        text-align: center;
                        line-height: 35px;
                        border-radius: 100px;
                        margin: 10px 0 10px 10px;
                        opacity: 0;
                        visibility: hidden;
                        transition: all .4s ease;
                    }
                }
            }
        }
    }
}

.shop-service{
    &-title{
        font-weight: 600;
        font-size: 28px;
        letter-spacing: -0.03em;
    }
    &-dec{
        line-height: 150%;
        letter-spacing: -0.04em;
        @media #{$lg,$md,$sm,$xs}{
            & br{
                display: none;
            }
        }
    }
    &-item{
        gap: 35px;
        @media #{$xxl,$xl,$lg,$md,$sm,$xs}{
            margin-left: 0;
        }
        &:hover{
            & .shop-service-icon{
                animation-name: tpshake;
                animation-timing-function: ease-in-out;
                animation-duration: 0.4s;
                animation-iteration-count: 1;
            }
        }
    }
    &-icon{
        transition: all .4s ease;
    }
    &-content{
        & .tp-btn{
            padding: 0;
            background: none;
            color: var(--tp-common-black);
            gap: 0;
            text-transform: none;
            letter-spacing: -0.02em;
            & span{
                padding-right: 3px;
            }
        }
    }
}

.inner-service{
    &-banner{
        &-bottom{
            border-top: 1px solid rgba(1, 1, 3, 0.1);
            padding: 13px 0px 3px 0px;
        }
        &-scroll{
            & a, & span{
                font-size: 16px;
                color: var(--tp-common-black);
                & span{
                    display: inline-block;
                    margin-left: 5px;
                }
            }
            & a{
                &:hover{
                    color: var(--tp-theme-primary);
                    & span{
                        color: var(--tp-theme-primary);
                    }
                }
            }
        }
    }
    &-gallery{
        position: relative;
        &::before{
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.6);
            top: 0;
            left: 0;
            z-index: 1;
        }
        &-item{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            right: 0;
            margin: 0 auto;
            z-index: 3;
        }
    }
    &-2{
        &-title{
            font-size: 200px;
            letter-spacing: -0.05em;
            line-height: .97;
            @media #{$xl}{
                font-size: 170px;
            }
            @media #{$lg}{
                font-size: 140px;
            }
            @media #{$md}{
                font-size: 100px;
            }
            @media #{$sm}{
                font-size: 70px;
            }
            @media #{$xs}{
                font-size: 50px;
            }
        }
        &-wrap{
            & .about-me-resume-date span {
                font-size: 24px;
                margin-top: 20px;
                display: inline-block;
                @media #{$lg,$md,$sm,$xs}{
                    font-size: 20px;
                }
            }
            & .about-me-resume-title {
                font-size: 92px;
                line-height: 104%;
                letter-spacing: -0.05em;
                @media #{$lg,$md,$sm,$xs}{
                    font-size: 70px;
                }
                & a{
                    &:hover{
                        color: var(--tp-theme-primary);
                    }
                }
            }
            & .about-me-resume-dec p {
                font-size: 18px;
                line-height: 167%;
                letter-spacing: -0.02em;
                margin-right: 95px;
                @media #{$lg,$md,$sm,$xs}{
                    margin-right: 0;
                }
            }
            & .about-me-resume-item {
                padding: 62px 0 35px 0;
            }
        }
    }
}

.#{$theme-prifix}-service{
    &-details{
        &-hero{
            &-subtitle{
                @media #{$xl}{
                    margin-right: -40px;
                }
                & span{
                    font-size: 18px;;
                    letter-spacing: -0.02em;
                    color: var(--tp-common-black);
                    position: relative;
                    padding-left: 16px;
                    display: inline-block;
                    &::before{
                        position: absolute;
                        content: '';
                        border-radius: 8px;
                        width: 8px;
                        height: 8px;
                        background: var(--tp-common-black);
                        left: 0;
                        top: 9px;
                    }
                    & svg{
                        margin-left: 5px;
                    }
                }
            }
            &-title{
                @media #{$xl}{
                    margin-left: 60px;
                }
                @media #{$lg,$md,$sm,$xs}{
                    margin-left: 0;
                }
                & h2{
                    font-size: 92px;
                    line-height: 98%;
                    letter-spacing: -0.03em;
                    @media #{$xl,$lg,$md,$sm,$xs}{
                        font-size: 70px;
                    }
                    @media #{$xs}{
                        font-size: 60px;
                    }
                }
            }
            &-link{
                @media #{$x3l,$xxl,$xl,$lg,$md,$sm,$xs}{
                    margin-left: 0;
                }
                @media #{$xl,$lg,$md,$sm,$xs}{
                    margin-top: 20px;
                }
                & ul{
                    column-count: 2;
                    @media #{$xl,$xs}{
                        column-count: 1;
                    }
                    & li{
                        & a{
                            font-size: 18px;
                        }
                    }
                }
            }
        }
        &-dec{
            font-weight: 500;
            font-size: 18px;
            line-height: 156%;
            color: var(--tp-common-black);
        }
        &-title{
            font-size: 24px;
            line-height: 142%;
            letter-spacing: -0.03em;
        }
        &-content{
            @media #{$xl,$lg,$md,$sm,$xs}{
                margin-right: 0;
            }
            & ul{
                & li{
                    list-style: none;
                    display: flex;
                    margin-bottom: 10px;
                    & i{
                        font-size: 24px;
                        color: var(--tp-common-black);
                        margin-right: 15px;
                        margin-top: 2px;
                    }
                    & p{
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 150%;
                        color: var(--tp-common-black);
                    }
                }
            }
        }
        &-faq{
            & .tp-faq-item {
                box-shadow: none;
                background: transparent;
                padding: 10px 0;
                margin-bottom: 0;
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            }
            & .tp-faq-button {
                font-size: 28px;
                font-family: var(--tp-ff-sequel-medium);
                font-weight: inherit;
                letter-spacing: -0.02em;
                display: flex;
                @media #{$xs}{
                    font-size: 22px;
                }
            }
            & .tp-faq-body p {
                font-size: 18px;
                line-height: 156%;
                color: var(--tp-common-black);
                margin-bottom: 20px;
            }
            &-one{
                & .tp-faq-button::before, .tp-faq-button:after {
                    display: none;
                }
            }
            &-two{
                & .tp-faq-button span {
                    margin-right: 40px;
                    @media #{$xs}{
                        margin-right: 20px;
                    }
                }
                & .tp-faq-body p {
                    margin-left: 69px;
                    @media #{$xs}{
                        margin-left: 0;
                    }
                }
                & .tp-faq-button::before, .tp-faq-button:after {
                    border: none!important;
                    background: transparent!important;
                    color: var(--tp-common-black);
                    top: 14px;
                }
                & .tp-faq-item {
                    padding: 20px 0;
                }
            }
        }
    }
    &-overview{
        &-border{
            transform: translateY(0)!important;
        }
    }
}