@use '../../utils' as *;

/*----------------------------------------*/
/*  7.25 testimonial css
/*----------------------------------------*/

.ca-testimonial{
    &-spacing{
        margin: 0 10px;
        border-radius: 40px;
        @media #{$sm,$xs}{
            margin: 0;
        }
    }
    &-ratings{
        font-weight: 700;
        font-size: 62px;
        letter-spacing: -0.03em;
        color: var(--tp-common-white);
        display: flex;
        align-items: flex-start;
        line-height: 75%;
        & svg{
            margin-left: 5px;
        }
    }
    &-review{
        &-count{
            font-weight: 500;
            font-size: 16px;
            color: #aaaab2;
        }
    }
    &-reviewed{
        font-weight: 600;
        font-size: 11px;
        text-transform: uppercase;
        color: #aaaab2;
    }
    &-comment{
        font-weight: 600;
        font-size: 30px;
        line-height: 143%;
        letter-spacing: -0.02em;
        color: var(--tp-common-white);
        @media #{$xl,$lg,$md,$sm,$xs}{
            font-size: 26px;
        }
    }
    &-author{
        &-name{
            & b{
                font-size: 18px;
                letter-spacing: -0.01em;
                color: var(--tp-common-white);
            }
            & span{
                font-weight: 500;
                font-size: 14px;
                color: rgba(255, 255, 255, 0.5);
            }
        }
    }
    &-slider{
        &-wrap{
            box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.4), inset 0 0 4px 0 rgba(255, 255, 255, 0.12);
            background: #131416;
            border-radius: 32px;
            padding: 70px 60px 50px 60px;
            position: relative;
            z-index: 1;
            @media #{$xs}{
                padding: 40px 20px 20px 20px;
            }
        }
    }
    &-bg{
        &-transparent{
            position: absolute;
            display: inline-block;
            bottom: -25px;
            left: 0;
            right: 0;
            margin: 0 auto;
            width: 85%;
            height: 100px;
            border-radius: 32px;
            box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1), inset 0 0 4px 0 rgba(255, 255, 255, 0.12);
            background: rgba(19, 20, 22, 0.5);
        }
    }
    &-navigation{
        display: flex;
        gap: 10px;
        & span{
            border: 1px solid rgba(255, 255, 255, 0.06);
            border-radius: 40px;
            width: 50px;
            height: 50px;
            display: inline-block;
            backdrop-filter: blur(20px);
            background: rgba(255, 255, 255, 0.06);
            color: var(--tp-common-white);
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }
    }
    &-pagination{
        position: absolute;
        top: 0;
        left: 0!important;
        right: 0!important;
        margin: 0 auto;
        width: 50%!important;
        background: rgba(250, 40, 55, 0.2);
        border-radius: 0 0 10px 10px;
        &  .swiper-pagination-progressbar-fill {
            background: var(--tp-theme-primary);
            border-radius: 0 0 0 10px;
        }
    }
}

.shop-testimonial{
    &-comment{
        font-size: 62px;
        line-height: 116%;
        letter-spacing: -0.04em;
        @media #{$xl,$lg}{
            font-size: 48px;
        }
        @media #{$md,$sm}{
            font-size: 38px;
        }
        @media #{$xs}{
            font-size: 30px;
        }
    }
    &-name{
        font-size: 24px;
        letter-spacing: -0.02em;
        color: rgba(30, 30, 30, 0.6);
    }
    &-brand{
        &-name{
            & b{
                font-size: 24px;
                letter-spacing: 0.72em;
                color: var(--tp-common-black);
            }
            & span{
                font-size: 13px;
                letter-spacing: 0.32em;
                text-transform: uppercase;
                line-height: 1;
            }
        }
    }
    &-slider{
        &-active{
            margin: 0 200px;
            @media #{$xxl,$xl,$lg}{
                margin: 0 70px;
            }
            @media #{$md,$sm,$xs}{
                margin: 0;
            }
        }
    }
    &-navigation{
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 50px;
        left: 0;
        right: 0;
        @media #{$md,$sm,$xs}{
            position: inherit;
            top: 0;
        }
        & span{
            border: 1px solid rgba(30, 30, 30, 0.2);
            border-radius: 54px;
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition: all .5s ease;
            &:hover{
                background: var(--tp-common-black);
                color: var(--tp-common-white);
            }
        }
    }
}

.tp-testimonial{
    &-text{
        &-title{
            font-size: 92px;
            line-height: 111%;
            letter-spacing: -0.05em;
            color: rgba(27, 23, 15, 0.1);
            & span{
                transform: translateY(-14px);
                display: inline-block;
                margin-left: 10px;
            }
        }
    }
}