
@forward './about';
@forward './hero';
@forward './service';
@forward './portfolio';
@forward './brand';
@forward './testimonial';
@forward './team';
@forward './faq';
@forward './cta';
@forward './awards';
@forward './banner';
@forward './gallery';
@forward './product';
@forward './cetagory';
@forward './payment';
@forward './skill';
@forward './price';
@forward './funfact';
@forward './process';
@forward './contact';
@forward './profile';
@forward './login';
@forward './dark';
@forward './career';
@forward './error';